{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="uk-container">
    <h1>Voir tous les articles</h1>
    <a href="{{ path('posts.create') }}">Ajouter un article</a>
    <table class="uk-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Enabled ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.dateCreated|date('d / m / Y') }}</td>
                <td>{{ post.enable }}</td>
                <td><a href="{{ path('posts.show', {'id': post.id}) }}" class="uk-button uk-button-primary">Afficher</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
