{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-container">
        <h1>Article {{ post.title }} <label class="uk-label"> Tag : {{ post.category.title }}</label> </h1>
        <p>{{ post.content }}</p>
    </div>
{% endblock %}