{% extends 'base.html.twig' %}

{% block title %}Rubriques{% endblock %}

{% block body %}
<div class="uk-container">
    <h1>Voir toutes les rubriques</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi asperiores cupiditate delectus dicta doloribus eius esse explicabo hic id molestiae necessitatibus nemo, nobis quasi repellendus saepe suscipit tenetur vel?</p>
</div>
{% endblock %}
