{% extends 'base.html.twig' %}

{% block title %}Edit PostCategory{% endblock %}

{% block body %}
<div class="uk-container">
    <h1>Editer catégorie</h1>

    {{ include('post_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_category_index') }}">back to list</a>

    {{ include('post_category/_delete_form.html.twig') }}
</div>
{% endblock %}
