{% extends 'base.html.twig' %}

{% block title %}PostCategory index{% endblock %}

{% block body %}
<div class="uk-container">
    <h1>PostCategory index</h1>

    <table class="uk-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post_category in post_categories %}
            <tr>
                <td>{{ post_category.id }}</td>
                <td>{{ post_category.title }}</td>
                <td>
                    <a href="{{ path('post_category_show', {'id': post_category.id}) }}" class="uk-button uk-button-primary">voir</a>
                    <a href="{{ path('post_category_edit', {'id': post_category.id}) }}" class="uk-button uk-button-default">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_category_new') }}" class="uk-button uk-button-text">Ajouter</a>
</div>
{% endblock %}
