{% extends 'base.html.twig' %}

{% block title %}PostCategory{% endblock %}

{% block body %}
    <h1>PostCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post_category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_category_index') }}">back to list</a>

    <a href="{{ path('post_category_edit', {'id': post_category.id}) }}">edit</a>

    {{ include('post_category/_delete_form.html.twig') }}
{% endblock %}
