<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="uk-navbar-container uk-margin uk-margin-remove-bottom" uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <a href="{{ path('home') }}" class="uk-navbar-item uk-logo">
                    TP Novice
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="#">Administration</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{{ path('post_index') }}">Voir les articles</a></li>
                                <li><a href="{{ path('post_category_index') }}">Voir les catégories</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#">{{ app.user.email }}</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <a class="link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="uk-container-fluid uk-section uk-section-primary uk-section-xsmall uk-margin-bottom">
            <p class="uk-text-center uk-text-light">Connecté en tant que {{ app.user.email }}</p>
        </div>
        {% endif %}
        <div class="uk-container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
