      {% extends 'base.html.twig' %}

      {% block body %}
          <h1>Bienvenue sur la page d'accueil</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, alias aliquam aliquid atque, dolorem eaque, eius et eum fuga laudantium libero maxime minus necessitatibus ratione sit suscipit totam veniam voluptas?</p>
      {% endblock %}