{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('post_index') }}" class="uk-button uk-button-text uk-margin-small-top">retourner à la liste</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
