{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="uk-container">
    <h1>Afficher tous les articles</h1>
    <table class="uk-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Categorie</th>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Contenu</th>
            <th>Visibilité</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><span class="uk-label uk-label-success">{{ post.category.title }}</span></td>
                <td>{{ post.title }}</td>
                <td>{{ post.dateCreated ? post.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.enable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}" class="uk-button uk-button-primary">voir</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="uk-button uk-button-default">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a class="uk-button uk-button-text" href="{{ path('post_new') }}">Ajouter</a>
{% endblock %}
