{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}" class="uk-button uk-button-text uk-margin-top">retourner à la liste</a>
{% endblock %}
