{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Post {{ post.id }}</h3>
        <table class="uk-table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ post.category.title }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ post.dateCreated ? post.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ post.enable ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>


        <a href="{{ path('post_index') }}" class="uk-button uk-button-text uk-margin-small-right">Retourner à la liste</a>

        <a href="{{ path('post_edit', {'id': post.id}) }}" class="uk-button uk-button-default">éditer</a>

        {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
